.landing {
    background-color: var(--background-primary);
}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 3;
    display: flex;
    background-color: var(--background-secondary);
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-wrap: nowrap;
}

.title_icon {
    display: none;
}

.header_right {
    display: flex;
    gap: 1rem;
}

.btn {
    background: none;
    color: black;
    font-weight: 600;
}

.btn:hover {
    background-color: var(--background-primary);
}

.content {
    padding: 3rem;
}

.hero_container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6rem;
}

.hero_text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}

.hero_title {
    font-size: 3rem;
}

.hero_img {
    width: 50%;
    height: fit-content;
    border-radius: 10px;
}

.info_section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6rem;
    height: fit-content;
}

.info_section:last-of-type {
    margin-bottom: 6rem;
}

.info_text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}

.info_title {
    font-size: 2rem;
}

.info_desc {
    font-size: 1.5rem;
    color: grey;
    margin-bottom: 2rem;
}

.info_vid {
    align-content: start;
    background-color: aliceblue;
    height: fit-content;
    border-radius: 10px;
    width: 40%;
}

.info_vid_bot {
    display: none;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: var(--background-secondary);
    padding: 1.5rem;
}

.footer_icon_container {
    display: flex;
    gap: 1rem;
}

@media (max-width: 1050px) {
    .hero_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero_img {
        width: 80%;
    }
    .hero_text {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .info_section {
        flex-direction: column;
    }

    .info_text {
        width: 100%;
    }

    .info_vid {
        width: 100%;
    }

    .info_vid_bot {
        display: block;
    }

    .info_vid_top {
        display: none;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 1.5rem;
    }

    .title {
        display: none;
    }

    .title_icon {
        display: block;
    }
}