.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100vh;
    width: 100%;
    background-color: var(--background-primary);
}

.title {
    position: absolute;
    top: 1rem;
}

.title_link {
    text-decoration: none;
    color: black;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    padding: 2rem;
    background-color: var(--background-secondary);
    box-shadow: 5px 5px 5px 5px lightgrey;
    margin-bottom: 1rem;
}

.h2 {
    margin-bottom: 2rem;
}

.input {
    font-size: 1rem;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    background-color: lightgrey;
}

.btn_submit {
    margin-top: 2rem;
    width: 100%;
}

.err_msg {
    color: tomato;
}

@media (max-width: calc(400px + 2rem)) {
    .content {
        width: 100%;
    }
}