.note_container {
    padding-top: 1rem;
    page-break-inside: avoid;
}

.note_card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--background-secondary);
    padding: 1rem;
}

.note_card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    transition: all 0.1s ease;
}

.note_card:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    transition: all 0.1s ease;
}

.note_card:hover .btn_icon {
    display: flex;
}

.body {
    max-height: 250px;
    overflow: auto;
    word-wrap: break-word;
}

.body:focus {
    outline: none;
}

.tag_list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0.5rem;
    padding-right: 0.5rem;
}

.tag {
    font-weight: 100;
    background-color: var(--background-primary);
    width: fit-content;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 5px;
}

.tag:hover {
    cursor: pointer;
}

.overlay {
    position: absolute; 
    z-index: 2;
    opacity: 0.2; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
    height: 100%; 
    background-color: Black; 
    color: White;
}

.overlay:hover {
background-color: black;
cursor: default;
}

.overlay_dark {
    position: absolute; 
    z-index: 2;
    opacity: 0.4; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
    height: 100%; 
    background-color: Black; 
    color: White;
}

.overlay_dark:hover {
background-color: black;
cursor: default;
}

.close_btn {
    padding: 0.3rem;
    width: fit-content;
    margin-left: auto;
}

.btn_icon {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    width: fit-content;
    margin: 0.5rem;
    background: none;
}

.btn_icon:hover {
    background-color: var(--background-primary);
}

.trash_icon {
    height: 1rem;
}

.date {
    color: grey;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.delete_warning_card {
    position: fixed;
    display: flex;
    width: fit-content;
    align-items: start;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    background-color: var(--background-secondary);
    z-index: 3;
}

.warning_btn_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem;
}

.warning_btns {
    margin-top: 0.5rem;
    padding: 0.3rem;
}

.warning_btns_grey {
    background-color: var(--background-primary);
    color: black;
}

.warning_btns_grey:hover {
    background-color: var(--background-primary-tint);
}


@media (max-width: 700px) {
    .btn_icon {
        display: block;
    }
}