.note_container {
    padding-top: 1rem;
    page-break-inside: avoid;
}

.note_card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--background-secondary);
    padding: 1rem;
    z-index: 3;
}

.input_area {
    overflow: auto;
    max-height: 250px;
    word-wrap: break-word;
}

.input_area:focus {
    outline: none;
}

.overlay {
        position: absolute; 
        z-index: 2;
        opacity: 0.2; 
        top: 0; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        width: 100%; 
        height: 100%; 
        background-color: Black; 
        color: White;
}

.overlay:hover {
    background-color: black;
    cursor: default;
}

.tag {
    margin-top: 1rem;;
}

.close_btn {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 250px;
    padding: 0.3rem;
    z-index: 3;
}
