.side_menu_outer {
    position: fixed;
    top:0;
    display: flex;
    align-items: start;
    transition: all 0.3s;
    width: fit-content;
    z-index: 2;
    transform: translateX(-250px);
}

.open {
    transform: translateX(0px);
}

.side_menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    background-color: var(--background-secondary);
    padding: 1rem;
    z-index: 3;
}

.h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.btn_new_note {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

@media (max-width: 650px) {
    .btn_new_note {
        display: none;
    }
}

.btn_tag {
    padding: 0.3rem;
    padding-left: 0.5rem;
    width: 100%;
    color: black;
    text-align: start;
    background: none;
}

.btn_tag:hover {
    background-color: var(--background-primary) !important;
}

.btn_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    width: fit-content;
    background: none;
    margin: 0.5rem;
    z-index: 3;
}

.btn_icon:hover {
    background-color: var(--background-secondary);
}

.logout_btn {
    margin-top: auto;
    background-color: var(--background-primary);
    color: black;
}

.logout_btn:hover {
    background-color: var(--background-primary-tint);
}


.overlay {
    position: absolute; 
    z-index: 2;
    opacity: 0.2; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    width: 100vw; 
    height: 100vh; 
    background-color: Black; 
    color: White;
}
